<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Garden Manager</title>
    <!--
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    -->  
	<link rel="stylesheet" href="/static/styles.css" type="text/css">
  
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	{{#each jsscripts}}
    <script src="/static/{{this}}"></script>
    {{/each}}
</head>
<body>
	<h1>{{pageTitle}}</h1>
	<nav id="navbar">
		<a href="/" class="navitem">INDEX</a> |
		<a href="/gardeners" class="navitem">Gardeners</a> |
		<a href="/sites" class="navitem">Sites</a> |
		<a href="/accesses" class="navitem">Accesses</a> |
		<a href="/workshifts" class="navitem">Workshifts</a> |
		<a href="/beds" class="navitem">Garden Beds</a> |
		<a href="/bedmap" class="navitem">BedMap™</a>
	</nav>
	{{{body}}}
	<footer>
		<a href="/f1AboutThisSite" class="footeritem">About this Site</a> |
		<a href="/f2Credits" class="footeritem">Credits</a>
	</footer>
</body>
</html>