<form action="accesses.html" method="POST">
	<fieldset>
		<legend>ADD NEW ACCESS</legend>
		<div>
			<label>Gardener: </label>
			<select name="Gardener">
				<option value="1">David Wiens</option> 
				<option value="2">Ruby Reitz</option>
				<option value="3">Jim Foo</option>
			</select>
		</div>
		<div>
			<label>Site: </label>
			<select name="Site">
				<option value="1">Home Garden</option> 
				<option value="2">Everret Street Community Garden</option>
				<option value="3">Neighbors</option>
			</select>
		</div>
		<div>
			<input type="submit" value="Add Access relationship">
		</div>
	</fieldset>
</form>

<table>
	<caption>Current Accesses</caption>
	<tr>
		<th>Gardener</th>
		<th>Site</th>
	</tr>
	<tr>
		<td>David Wiens</td>
		<td>Home Garden</td>
		<td><button onclick="deleteAccess({{id}})">DELETE</button></td>
		<td><a href="access_update.html">UPDATE</a></td>
	</tr>
	<tr>
		<td>Ruby Reitz</td>
		<td>Home Garden</td>
		<td><button onclick="deleteAccess({{id}})">DELETE</button></td>
		<td><a href="access_update.html">UPDATE</a></td>
	</tr>
</table>
