<p>
	Welcome to the Garden Manager, useful for tracking Gardeners, their work, and the Garden Beds to which they tend.
</p>
<p>
	GARDENER: One who gardens. May have access to different SITEs (many-to-many relationship. A WORKSHIFT is performed by one GARDENER.	
</p>
<p>
	SITE: A location at which a GARDENER works and which may have multiple garden BEDs (one-to-many relationship).
</p>
<p>
	GARDEN_SITE ACCESS: A relationship between GARDENERs and SITES (many to many). Indicates whether a gardener has access to the SITE.
</p>
<p>
	WORKSHIFT: An period of time on a specific date that a GARDENER works on a SITE.
</p>
<p>
	GARDEN BED: A plot of land located at a SITE which may have multiple PLANTS (an entitie not supported by this website).
</p>
