<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Update Access</title>
	</head>
	<body>
	<h1>🔑 Update Individual Access</h1>

	<form action="accesses.html" method="POST">
		<fieldset>
			<legend>UPDATE ACCESS</legend>
			<div>
				<label>Gardener: </label>
				<select name="Gardener">
					<option value="1">David Wiens</option> 
					<option value="2">Ruby Reitz</option>
					<option value="3">Jim Foo</option>
				</select>
			</div>
			<div>
				<label>Site: </label>
				<select name="Site">
					<option value="1">Home Garden</option> 
					<option value="2">Everret Street Community Garden</option>
					<option value="3">Neighbors</option>
				</select>
			</div>
			<div>
				<input type="submit" value="Update Access relationship">
				<a href="accesses.html">CANCEL</a>
			</div>
		</fieldset>
	</form>

	</body>
</html>