<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Update Site</title>
	</head>
	<body>
	<h1>🌐 Update Individual Site</h1>

	<form action="sites.html" method="POST">
		<fieldset>
			<legend>UPDATE SITE</legend>
			<div>
				<label>Name: </label>
				<input type="text" id="fname">
			</div>
			<div>
				<label>Length: </label>
				<input type="number" id="length">
			</div>
			<div>
				<label>Width: </label>
				<input type="number" id="width">
			</div>
			<fieldset>
				<legend>Address</legend>
				<div>
					<label>Street: </label>
					<input type="text" id="street">
				</div>
				<div>
					<label>City: </label>
					<input type="text" id="city">
				</div>
				<div>
					<label>State: </label>
					<input type="text" id="state">
				</div>
				<div>
					<label>ZIP: </label>
					<input type="number" id="zip">
				</div>
			</fieldset>
			<div>
				<input type="submit" value="Update Site">
				<a href="sites.html">CANCEL</a>
			</div>
		</fieldset>
	</form>

	</body>
</html>