<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Sites</title>
	</head>
	<body>
	<a href="gardeners.html">GARDENERS</a>
	<a href="sites.html">SITES</a>
	<a href="accesses.html">ACCESSES</a>
	<h1>🌐 Sites</h1>

	<form action="sites.html" method="POST">
		<fieldset>
			<legend>ADD NEW SITE</legend>
			<div>
				<label>Name: </label>
				<input type="text" id="fname">
			</div>
			<div>
				<label>Length: </label>
				<input type="number" id="length">
			</div>
			<div>
				<label>Width: </label>
				<input type="number" id="width">
			</div>
			<fieldset>
				<legend>Address</legend>
				<div>
					<label>Street: </label>
					<input type="text" id="street">
				</div>
				<div>
					<label>City: </label>
					<input type="text" id="city">
				</div>
				<div>
					<label>State: </label>
					<input type="text" id="state">
				</div>
				<div>
					<label>ZIP: </label>
					<input type="number" id="zip">
				</div>
			</fieldset>
			<div>
				<input type="submit" value="Add Site">
			</div>
		</fieldset>
	</form>

	<table>
		<caption>Current Sites</caption>
		<tr>
			<th>Name</th>
			<th>Length</th>
			<th>Width</th>
			<th>Addr. Street</th>
			<th>Addr. City</th>
			<th>Addr. State</th>
			<th>Addr. ZIP</th>
		</tr>
		<tr>
			<td>Home Garden</td>
			<td>70</td>
			<td>50</td>
			<td>134 NE 79th St.</td>
			<td>Portland</td>
			<td>OR</td>
			<td>97213</td>
			<td><button onclick="deleteSite({{id}})">DELETE</button></td>
            <td><a href="site_update.html">UPDATE</a></td>
		</tr>
	</table>

	</body>
</html>